[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Mong
Comment=Multi-touch, two-player pong game for MeeGo.
Exec=/opt/com.thpinfo.mong/mong
Icon=/opt/com.thpinfo.mong/mong.png
Type=Application
Categories=Game;SportsGame;
Terminal=false
