[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Plonk
Comment=Multi-touch, two-player pong game for MeeGo.
Exec=/opt/com.thpinfo.plonk/bin/plonk
Icon=/opt/com.thpinfo.plonk/plonk.png
Type=Application
Categories=Game;SportsGame;
Terminal=false
