Source: plonk
Section: games
Priority: optional
Maintainer: Ken VanDine <ken.vandine@canonical.com>
Build-Depends: debhelper (>= 9),
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
Standards-Version: 3.9.4
Homepage: https://github.com/harmattan/plonk
Vcs-Git: git://github.com/kenvandine/plonk.git

Package: plonk
Architecture: amd64 i386 armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-touch pong-like game for two players
 Plonk is an enjoyable multi-touch game.
