Source: plonk
Section: user/games
Priority: optional
Maintainer: Thomas Perl <m@thp.io>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://thp.io/2011/plonk/

Package: plonk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A multi-touch pong-like game for two players
 Plonk is an enjoyable multi-touch game for your MeeGo device.
 Initially developed during the MeeGo Conference SF 2011.
 This game was formerly known as "Mong".
XSBC-Maemo-Display-Name: Plonk
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLDwoeIHkm/coAAB4FSURBVHja
 7Z13mF1nfec/7ym3zp17504fSaNRsWWNqmUVy1jyyDaQB0JZwDEOAkTJsgQ2rBN2wSYbnMBjuk2L
 CeEha5kQdmEfYjsYLyVYxpLV5ZFkq4y6RiNNb7efun/ce86c22ZGbjEhR8/7SDqa8573fN9fL6/g
 P66XdIlX60V33/vgKqADWA3ECr9TuNfxIqc9XxgA3cB4Oqt1hwK+8w/ef/fh31kA7773wSjQBXQJ
 WV5rm+bNAIZlkc1pmKZJJpsDQNMMNN0oet4wLXK5XNE9v9+PIktF93yqgs+nABAM+JFlmZpgwPsj
 OwrA7gB2PHj/3ROvWQC/8u0f1l++PLgV2AasNiyLRDpDLpsjmcqSyeawLOtVoXZFUfD7VGrCAcLB
 IJFwEADdNLtVWX64f3j00R/9/ecuvCYA/MS9D94iy/KHTdPcqukGk4kkk4k0qXTmNSWrwqEgtZEQ
 tZEafKqCYRiPKory9W/cf/fT/yYA3v/gwzf2D45+AeiaTKUZGZl4zYFW7YrUhGmI1xIOBQF2pNKZ
 +77/jc88/aoA+Gf3PBBVFOnzhmF9fDKV5vKVYQzD+J3UoKFggObGOsKhIKqqfkfX9Xu++YU/n3jF
 APyzex5YBTyay+kdff1DpDPZfxemSE04xLy2RmRZPg+8/Ztf+PPDLzuA//XTX3u/qqrfHRwe9fcP
 jr5qCuHVuiRJYk5rI+GgH1mWt33ri3+x/WUD8OOf+ur7gYevDIwwMp74d20YtzbVUV8XBdj27S99
 cvtLBvBP//uX3w88fLl/mPHJ5O+FdxGrraGtpQFg20Nf+R/bXzSAH/3kl1YpirL30uVB/+j45O+V
 i9bSFCdWW4MkSau/89VPHb5qAP/LX9wfBbonJlMdff0jv5d+7ry2RkLBwHlZFqv/7mv3VtTOUnWh
 qnwup5kdVwZGwLaqDtsyq47pnrvq8UpcM7yz78oQtm13APddFQX+t3u+ekM6qx240HvF9VnL3m3b
 L9t3WKaJYWhYho5lmQhhIwmBEALD0AGBZdsISUaWVRTVh6L6EaJ8+bbzSQ7oQvJ87NWvORwKMm9O
 M0OjY13/vP0rZca2UumhVCbz1UQy84p6FunEGKnJYQI+QSTsJxYKYEo6tmUiSQLbtqiNRBgdm0SS
 JDRNJ5PJkcnpmJaNpltYQiUUqae2rglF9bsQuhssJLBMD7gFIEuAn44YEskUqVSKhrra+4AtM1Lg
 PX/9jRuHRid2nznXh26Ys1c/s7ALs9kUI/3n6JgTp2PeHELhILZlUVNTQzgcJhKJUFtbSyQSIRAI
 YJr595umiaZpJBIJ+vv76e3tZWhoiLHxcUZGRkml0mQNiYbWxdQ1znVBEULMilMqUXKxx+KjfW4L
 Q6MTXY/94GtPT0uBw2OTfzo5mSwLMZXz3ezkkmka6NkEISXHmzevp63tVnRdR1VVampqiEaj+Hw+
 FEXBMAwuX77M4cOH6e/vJ5VKEwwGCYWC1NfX09TUxPLly9m8eTOSJNHf38+FCxc4efIkvb299PVd
 5OyV44Tq5hFvno+i+BGSmIUoNEGSKCNVhyPTOVKpDC2N8Y8AT1elo3s/9+36KwNDw5f7h0km09O/
 dIadtUwDU0tSFxZsXL+SVatWFWSagaqqiIKMk2WZwcFBjh49yp49ezh/oY90TkNVA8iKis/nA9si
 Fq1h8cIOlnUuYd68edi2zYIFC4jH42SzWfr7++np6eHEiRP09PQwODyGP9JCONaKLxDKg3IVXFNK
 lbW1NTTW17Fk0Zzmz3zyI4MVKXB8fPIOTTNIJFIvSb5lUhPU18DSpe10di6lpaXFXZSqqpimSU1N
 DalUiscff5wdO3aQygki8Tk0dazG5w8hyyqiQBW2bWHoGqf7kowmj7NeN3nbW97MgQMHqKmpobOz
 k+bmZpqbm1mzZg3nz5/n4MGD9PT0MD5xjokRPw1ti/IgeoF0QKoApCMCnGtiIkFjfZRjJ87fBXzD
 uS97H7r+xi33j42NL0qls9OIPmcVlcfIwHled8MCll23iFWrVtLS0uJSm7OoUChEb28v3/ve9/j1
 v/6GutZOWuZdRzgSQ/UFkCS58G22q1dlWcbnD2LYCqfPXeGF5w/z+b/5LPv27aO/v5+GhgYMw8Dv
 99PW1sbSpUuJxWLYpo4qafSeP0Mk1jjFo0IUNLVdANQq+xYhwMtoPlUhFPRHuw/89vtlLPy+j9wb
 BcZ7+4fIvsgoy/jgWf7kfe8km82ybNkyQqEQmUwG0zRdAH0+H0NDQzzyyCM81/08i1ZsRvUHX9T7
 jGQfv/3XJ9i+fTu1tbW0tbW57/L5fASDQc6cOcOBAweYnJzk6Z17qWm8FkX1VTaBZhBL4WCQtpYG
 Tp3rje3+5Q8migxpC7p0075q8GzbxjR0ZGOUD/zx28jlcqxZs4ZwOIymaciyjKIoCCHw+/3kcjke
 e+wxjjx/goUrN6MGgvltnGlUCt3XzOGt79zK5s2bGRoawjAMJEnCtm1Xa3d0dHDbbbfR0dHBHe94
 C7XKBKnEKJZN2bBtu+JwTa9sFguY19rcVeaJ+FX1xmw6XXWS6Sa3c8PcvH4FoVCIjRs3oqoqmqa5
 ANu2jSRJyLLMrl276D58lMb2TlRfYPbvcn6V3B/LyDzyw5+wfPlyDh8+TCgUQlEUpIL8TKVSRCIR
 NmzYQDgc5g23b2H5ogaSEyP5Obze0wxrsCyLTCYDklQOYDabvTGraVcNYP/FY2zasJLW1laWL1+O
 ruvoul4k82RZpqamhosXL3L8+AnShkxtXfNVv6sSkLKs8rNf7WZ8Ih9m6+3txefzTW2ubbuy8dZb
 b0VVVW66cR1L2mvR9dxVb1o2q6HKYnUZgBZ0pTNZ7Ol+lUw+MniR2zetIR6Ps2rVKnK5HJqmYRhG
 4eNkhBBIkkQqleLYsWOcOn2alnlLXhx4lT4Om2Ckjp8+/iQrV66kp6cHy7I8AOf1pK7r5HI5Nm7c
 SDab5b3vuRNVH5yV2PC+K53JYlhWMQV++BP3LbRtuywXO92VSydZ2FpDfX09a9ascReqKAqqqiLL
 siv//H4//f39jI6Okkhb+AM1zKDMr2oIBAePnGZgcAi/38/o6KhrnMuy7IoP08yz6cqVK7lw4QJf
 +cLfYKUHpncWSkwch7tufcsHV7kA5jK5Dsuy8mH6SqPEOrcsC9VO0NLcyLJly6irqyOTySBJkjsc
 QIUQ6LrO8PAwFy9eLNhj1ss+amONPLz9h7S3tzMwMOC+32FlJwVhGAbRaJSmpiaOHz/Olz//GUYH
 e6endtN0sdA0DcuyaJ/b0jzFwhLrstnstBN4/55LjVEfDXDttdeyYsUKFzyvZvbmTDKZDOl0mktX
 hgiGoy+dfauMk2f6mJycJJVKudTmNYqdzTUMgyVLlpBMJrEsiw9tfQdaNott2dWH9/tzOSYSqY0u
 gHouFzYMq+rD3tiZZejIVpKW5ibWrVtHIpFwF+goDkmSUBTFZed0Ok0ymcS0/dMv8iWOWMMcduzY
 QTAYxDAMl4WdtTnrc4ITa9euZd++fWzZvJF4xF+Z81x/eeo9pmni9+fDPwWykdZpWnYaZ3vqYS2X
 oiYocd1111FbW0sulyvyaxVFKdJ+AIlEgsHBQWpiTbOz+V7k8AfDHDt+yqV47xocahRCoCgKuq4T
 iURoaGggnU6zevlCLEv3KBBrapTYobpukk5npyhQ07RA/gVW5eFZZGL0EosWLqSzsxPLsop22Fmk
 VxY6gncykUJS/cXRbK89WRrptm2SIxdpCw5imUbV50qfHRlPMjQ0RC6XcxWIw77OJjvKLpfL0dnZ
 SV9fH7d13YQkrMo2oWUW4WEYGookTWlhVZVDuj6zIanrOZrjIZqamojH4+i6XmRkemWgbduoqoph
 GGiaRjKdgyofbtt2mTcwPnSJT79nAZ/76Fpi6mCRaVIKpPdZxRdiYmKCdDrtAlesWPPK0jRN1z5M
 p9MsXboULT0+rUdSNITd5AJoWNZKYzojupDfGBu4SF1dHQsWLEBRlPyCC3LGa7o44SpVVUmlUgUl
 LheBW42CLBuSkyO8a3OYYEjmzOUx3nlLI7LWj2lZRR9YSo2WDbIaZGBggFwuh6IoWJZVJgOdDXdY
 PBaLkc1mWbF0YdGGWDbYBZ+5mJBM9JzeOQWgZgSmC486kxm5CZqamli4cKHLDqW77Ahpx4hNJpN5
 tpEUkGRsIaYdqeQor18lWLowzvrrF9HW0kRDvJb3vaEeI30FxNSH2UK4osV1GRUfExMTeK0KLwDO
 eh15bds20WiU/v5+btuyCcPQZrSBdV13RYGUF5dWGfLeAaBrWVTZJhwOE41G3XC7E9VwAHVkn7Pj
 uVzeXdKn0fLOSE6McOfNAVZeG+f65e0osmDR/DhN9VEaYhE+vXURY1fOlCk211IAJEkmnU673pDX
 jBEl1ORcwWCQK1eusGLFCpJjA0WZQNuyKwYdLKwpAKsJcu9Q7STr1t7AggUL8Pl8LoBe6vPek2UZ
 n8+HZVkYhkE2m8vHEqvMn0mO8Z4tIeY0R7hx9TXU1dWSzWXJZjQWL2ygrrEOEHzqvR0MXzlXNUUp
 hEQ2p6HrumtOOdTicIYjrx02DgQCJBIJzp07xzv+sIt0crxIdFVScK7C9Bq+FSMQpolKmne+9fVs
 2LCBN73pTWQymYrhnlKB7bBzOBzGMKorqUw6wZvWKUTDMutXzmdBez2KrHCq1+D4mVEMXef6zmZC
 oTD1sQj/80PXkhi7UuIbCzel6VCgaZpueMsRKQ6opZve2dnJmTNnmDe3jWvao1MgVoxAWSUAFgzL
 SuBFgjZ/cOsG6uvr6erqcg1nVc3nK7ys4bCyI2ecl2SyWTTdqLiYXCbJhkUayxdGWb+6nfnz6hkZ
 T/H5bz3F3X/1A44eG2D/kWHGxlNsWduOrKrUhGTuuqWWxPhguckhBLKiusA4rOwF0mtuOcmsYDDI
 pk2bMAyDjRvWcc28KJnkaPUQXmF+pVokVteyzG0K0XXzOpqbm1mxYoVrAjiLcVjCAVCW5SK5Y5om
 lmURCAQqRkW1XJp17eOsva6BNSs7qI+HmUimGRnL8MRvnkOVBafOXeToSWiqX0UoFGLdynkcPd7P
 TasD+H39bP/1CKFIfVEAIJVMFZlYpfkNSZJcU8a7VlVV2bRpEz09PSiKQvv5C/z6mYOEalvKOKuM
 hUuNZy0zznf/9gHWrFlDOp0uAsdrFngVRiWFMnW/3EDXUsN8/5Gv0dDSgWHoSHZ+Yxa2x5nXVsfp
 i0N87//s5PLgCNcsaMa2LRCCjdfPJ501qY+pzK9LlXkkQirmilJR44grR+QItwrCIBAIMH/+fE6c
 OMGTT/4cy5bK1u2dT/FOWJRMrm3kdVvezC9/9mNqa2vZvXs369atQ5IkN+9Qyr6OcPbueKn2K8ox
 1M3h1rfdz68e/Qb/8r+/i5YdZmFHExI2//jgNh76wU6wbf7krrX4ZEEuZxMMqAwOp3hyx/P845PH
 WdD5OlSfXZzXKGHTSt/nyD+Hm4QQhMNhRkZG+M53vsNTO56hfs5S/MFw2bNeReRKfa9gda6G1oX8
 4bs+yNDwKGvXrmX//v2u++YFycsmpRk4y7KI1ERQZLmiTTWRVbnjA59l0xvv5HIiwLGeXjJZA8vM
 8pcf38I9H7uZcEhlIpEhFgvSe2mCv/7Wk/zs2UssWLoRVfVV1JJem63UeC61DyVJIhAIcPbsWR54
 4AF+u3MP8TnX4QuEyqi3lBAkh3JEFY0TiTXyqc9+lZM9Z9i8eTM7d+50Dejpslhe184wdGRZqqrV
 zl2a5H0f+yK3v2krhtrGvudOEfDJJNMakwkN3TCI1Pg5cuwSX/7ek/xqbx/Rlk4U1V9xPlnOKwfT
 E4bzbq4jy531y7LM5cuX+elPf8qu3fuJNS/G5w9V18JO7LRYBlb3ARVfiPu+8E3+3y9+iSRJTExM
 lAUsHUAtz+SOjFRVlWDQX31BQnB5WOP6W7Zy8+v/mPq5q9nz3ElsS0fT80XgB5+/wAN//xt+tfcK
 DfNWVE1IWZaZN2iquG6O+PFutBPwbW1tJdbYgar6y8JalSh3CkDLrB6NLoxwTR0//efHaG5uZnx8
 3GV5R1F4ZYMznPt+v59YbWTmvGvdXK5b/y6uXbEJX+1Suo9dIh71c+T5Xv52+zPsODTMnEXrkBV1
 2pISb1jNa16VRqed+45GPn78OMFQbfXQfmFYllWI0BQAFELMqo7tQm/eSR8bG8MwDHdXvYA5i3fk
 ZCgUQpIkggE/eELj1UZtXStv3fqXLFm9BX/jcnYfPM0X/+4X7D2WZM7C1YgCC1Ubpq4RDAapqakp
 ksNOtlDX9aJNtizLDfieOXcJIUnT5oYBhCwwzGIlckCSZg7jBMIxhofzjTVOkVAl9jVNE9M00XXd
 A6CKZVuzChUlMnDnh/6K5as2sPPgGfYcz1DftqSIJauG3LQMNTU1blTasUW9LqbX1PL7/UxOTnLh
 wgXSmoUt7PJRKtIkCYF9bCoaYximJEmVH/aMYCTGMzt3EY1GGR8fd4Eq9S0dzWaaJpFIBMMwiNfV
 XlV+I6Mr3PrWT/J/nxqiZd5SJEme1XO5TJJQKORSYKV4oHeDTdNkeHiYF154AX8oWqXemTJAgcEi
 Fp5tye6JUxcQQtDf3+8maLy+pkMlhmGQy+Xcco4Vy5eiqFL+jbMcthpGjcxFUmb/nGVmaWhoIBQK
 oWmam0XzihnHNpQkiWQyyYULF7h0eQhJUqbNi3g9GSdVkDdjbGu/LIkZ5ROWhT9Ux8jICKZpksvl
 3CoABzRvNsyyLBRFIZ1Oc83ixVjGS2wNm6Go0zJNgj6ZxsZGNxLkVR6lfnAoFKKvr4/jx4+T1vJ1
 b2WatgIGAhtZFs9OUSB2ajozpjjqK7H3wBHmzJnD0aNHCQQCRaaLN2zu1cxz586lJqC8+LSlN7Vq
 mhVHamKY1tYW4vF4UTCjND9smiaynI8bvvDCC5zsOYOsBItArhadcubRtHzk1bED9ztac8ZiIiHY
 ve8wiurDMAxOnz5NKBQq8o0dVnbcpXA4zOXLl9l61zswTePqQHNGlRx1Ud1KepzGxkbmz59fFiUv
 3VxFUThy5AgHDx5idDJTtcSu0nvyURxptwugT5H6ZlNs7VZl+kL8r+3/xB133MGxY8dIJpNu/kHX
 9SITR9d1otEo3d3d3PlHf0RipH9WooKrbGY0dI15rQ3U19fT0NDg1iV6g6jOnwOBAMPDw+zZs4fu
 w0eINcydsbTN/faCFp+YTA24AP765z/usS0TWRKzLmnb393DY4//jHe/+90cOHCgSN44u+wI2lAo
 RDabZWJigq13/adXpCohlx6joaGeJUuW4PP5XHvPq+Qc6jEMg127drFz5y5qGzuQJLlqjXQZ9Ym8
 sX503y8OFwUTbNveIVdx+CtNrqg+vvjAd+nu7qarq4tDhw4VFY87CWznam9v5yc/+Qn/+cMfJD05
 /LL2nBi6RlN9hHg8zsqVK8lms26wVFVVVx5aloXP52Pv3r088cQTaAQJhmsrV2U5obGSkv0CRjvK
 ytuEsHdLYpr2pwqVAMFwlM9/+SEmJydZvHgx+/btIxgMlgUadF2ntbUVIQTPP3+UD227C8PQ8osr
 nbdCK9lMrWYKORrrY2zcuBG/3082m3Xzvg5wQgji8TiHDh3ixz/+MYOjaSKxpsqlLLZHjJSsSRJg
 WmZ3GYCGae2VFXlmge7mivMA6bbMPZ/9Eh0dC2hubmbXrl1uhahjZDslt6tWrWLv3r2sWLaElobI
 VETEtsrnr5CSrDQMPUtLQ5hly5ZxzTXXkEgk3Py0G2kSgkgkwjPPPMP27Y9wsW+QaOO8fBdAJeqr
 oMHdyI0iY5pmOQXatr3DKyRnqpkTkkCQB3IyZfDeD3yUxsYm1q5dy6FDh9yIjSO8NS3vo3Z2dnLq
 1Ck23bgaU0vmw2jWi+u7y2VTdLRFueGGG7j++uuLaqQdL8Opz/75z3/O9//hH+i9PES8dVFFtxDL
 mqK+kgCEN2WRTKZ3lLU5XOk9nZs7/5obLctabEzX4jWFOLYQbtuDZgl+9sQvkITJG9/wei5evMjA
 wAD19fVucaOmaUSj0XyllmkSCsicOn0KRQ3lO4rEDJXy9lSdop5NcMtNq1nQ0c6yZcuIx+NuhBnA
 5/NRV1fH6OgoP/rRj3js8X8hayjUxucgKPQvlA7y6QDsqbSAZU5ZA36/iiR49oWDTz1UsU+kde6i
 MIi36JpWXAIqieKcg+3cE3mqF+S7KyWF4z3neHbnLv7gjbcRiUTo7u5GCEFdXR2SJJHL5YjH42Qy
 GVKpFEG/zMXzp7AsgaKohQ+pVopqYxg5hJHgjbffTCxay4YNG6irq8MwDDfyEg6HCYfD7Ny5k4ce
 eoi9+w4QirURrIm5IFXaKDeXIrxa2HTX5Pf7sSz7awN9Z/dWbPV63a1viyVT6bFsNlt8lIk9JRtK
 1XwBwvzOWZYrP5ITw2y982287qaNnD59yvVG6urq8hWuqkp/fz/79u3j1KlTnDx5kvHJNL5ADf5g
 2O1UEkLCti10LUNAlXjj7bcwf347iqKwaNEi14V0AreqqnLlyhUee+wxdjz9NMgh4k3tSE4pyCyb
 DiVRnPtwSpVlzObn9j01WLVbc+X62x82Df392ZxWMQ8gRD6BLWy7kAGb8jqce06C2zQMLD1J16Yb
 aYjHCAT8boNhJBKhvj6fjrx06RKnTp3i7NmzbmmaJElkMlkaGhuQJYnm5mZuuukmmpqayOVyRCIR
 1yUzTZNkMsmlS5c4cOAAe/buZ2wyRTTegj8QLuolFthTPcUlwdYposi3ylqm4d4LBvxIkvRPR/b/
 5j3TtruuXn/retOy96Yz2TJN5DUuiypSZaVQViGmKNYDpKFr+BSIhP0EfRLz5rYRjUZpbGwkGo0S
 CoWIxWIFH1Nzqd80TQKBAIFAgGAw6EZRnKDu8PAwfX19nD17lgsXLjA6nkC3JELhGL5gCNuyXZlm
 I1yzxAESIRVMtKnfhcj/q9e3l2WZgN+HphtdJw8/8/SMHevLb+h6yjTNrpymVwfQI2wdFq/mCtqI
 QrbMwrJsLCNLLpPAJ0NdLOJSpN/vR1GUfIcmEIvF3GpTXddJJpMkEgmSySTj4+NMTExiWIJgOEog
 VIvi9yOQytbhyjzbs56CuHGBK9ikwhZuS4czT8DvQ5KkHc8f3LFlVh3rkiTdbdv2c3mj0RPaKVCW
 EHa+eEnk7SDLUwqcNzwdK1643ZbOfgkBij+E4s9TyETWYGhyBD13CV3LYlsGomC/+Xxqnp2FVHiH
 cNv9fYFaYi1NyIpSZga5G1xSojxFLlN13/mfs4t7Qrx2X0GxaJp231Wd2rFszS1fN03zEzlNnyr1
 KkmYY1t5dpBEZVtOSFOAOm+zPV2fHnaybVG+IrvYnbJNO081Ag8FVXC5xFSyHMtyza08iJL7HlEE
 3FTrq/uskAj4fQAPHe9+5mNXdWqHbdufBc57Dz0sNz5F1S5vt1Db8rhezp+d8gjLLo66OJTq+bli
 YCgydJ2fwbLKXDGnlM41kEtP6rCsYup0vCEPkah5z+y8EOLeqzq1w7muW3XzKmzrWd0wQ04hzkzt
 oa6c9EztaOdpr3yiJk9lhfqWSt0C05ohJWxbWh9TJBMtu4wrimTbVIvE6hOHd1Y9eGdav2144OJA
 fdPcPoR4e7X4WFUKFlOUaRc8l2lPHbGm5vcqJtvT4l3WAV1iFBf56XZBNtvF85Z9h1055yHLMgJ7
 28kjz/5i2tjoTECMDF46XN8077wkSW/Ps8TsACz2z/Nei+O52BVCO6JU9gG2XbA3S9wtPHPkb3nm
 Kfx1ymj23J/F2j1J+W09z++e8fCxWQUARwcvHY43zj0vBG8QoOY9G2vW3YACu+AmFWFZNCqFy8Q0
 TTVihnnK7ttWmUta9A1CoMgSUn6Sbadf2PPyHX/nXIuWrlsFPGrbdkclmfi7fBXk3Xng7WeO75/1
 AYzy1bxkbPjyQF1D28NAQJKkG2dzzkCpHLOZJS+9CpcQIn+cVN7H/zrw7rMnDlzV6b4v+hDa9sWr
 10mS9GWgy9vo8op+sHT1y62kuSVRVPi5A7jvfM+hV+cQ2tKr49o1twDbbNve5uaB7dcmm0qiyN18
 VAjx9RcL3MsGoAfImG3b76dwEHdRLtb+twOsxAnoFkI8bNv2oxdPd782DuKuwt7uUfDkz8zverWA
 LOHyHXiOgr94uvu1exT8LEBdZdmv/H9GAHRLgvMXT3cf5j+u1/71/wEVjMzz/k2ojgAAAABJRU5E
 rkJggg==
