[Desktop Entry]
Name=Plonk
Comment=Multi-touch, two-player pong game
Exec=plonk
Icon=/usr/share/plonk/plonk.png
Type=Application
Categories=Game;SportsGame;
